
.dropBox{
    @apply  flex flex-col transition-all duration-300 ease-in-out overflow-hidden p-1 rounded-lg  bg-slate-800 gap-3 relative top-[2%] md:top-[-5%] md:left-[110%] left-[10%];
/*     
    position: relative;
    left: 110%;
    top: -5%; */
}

.dropboxHead{
    @apply flex justify-center items-center text-white text-xl font-extrabold cursor-pointer bg-slate-800 py-2 px-5 rounded-lg;
}
.dropOption{
    @apply flex justify-center py-2 rounded-lg  cursor-pointer bg-gray-700;
}

/* 1st year 1st semester */

.SubHead{
    @apply text-white text-start w-[65%] p-3 bg-gray-700;
}
.SubHead1{
    @apply text-white text-start w-[35%] py-3 bg-gray-800;
}

.bgleft{
    @apply bg-gray-800;
}